VITE_NODE_ADDRESS=wss://rpc.vara.network
VITE_BACKEND_URL=https://arcade-vara-production.up.railway.app
VITE_SKYBOUND_JUMP_URL=https://arcade-vara.up.railway.app
VITE_ALLOWED_HOSTS=vara-arcade.up.railway.app
