VITE_NODE_ADDRESS=wss://rpc.vara.network
VITE_PROGRAM_ID=0xf97028c91e25e8725af8373fad4f01c882bf187146e8ee5373f76e1d0bb43ac4
VITE_VOUCHER_BACKEND_URL=https://arcade-vara-production.up.railway.app

# Optional, comma-separated list passed to Vite preview allowed hosts.
VITE_ALLOWED_HOSTS=chicken-riches-production.up.railway.app,arcade-vara.up.railway.app
