VITE_NODE_ADDRESS=wss://rpc.vara.network
VITE_PROGRAM_ID=0xbf54fe438121510a6e435686eb255af9106d5e74e5c0593142a7a9de29dad78f
VITE_VOUCHER_BACKEND_URL=https://arcade-vara-production.up.railway.app

# Optional, comma-separated list passed to Vite preview allowed hosts.
VITE_ALLOWED_HOSTS=deep-sea-feast-vara.up.railway.app,arcade-vara.up.railway.app
